<!DOCTYPE html>
<html class="no-js" lang="en" prefix="og: http://ogp.me/ns#">
<head>
  <meta charset="utf-8" />
  <title>{{ pageName }} - Wiuh</title>
  {% set revNumber = random(1000) %}
  <link rel="icon" href="favicon.ico?v={{revNumber}}">
  <link rel="stylesheet" property="stylesheet" href="styles/{{ assetPath('wallop.css') }}" type="text/css">
  <link rel="stylesheet" property="stylesheet" href="styles/{{ assetPath('wallop--rotate.css') }}" type="text/css">
  <link rel="stylesheet" property="stylesheet" href="styles/{{ assetPath('wallop--slide.css') }}" type="text/css">
  <link rel="stylesheet" property="stylesheet" href="styles/{{ assetPath('main.css') }}" type="text/css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script>document.querySelector('html').classList.remove('no-js');</script>


